button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #dc2109;
    cursor: pointer;
    margin-right: 15px;
}

.group{
    display: block;
    position:relative;
    align-items: center;
}
